---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MWlGcbYlFZ5j5OE16GJ5514OGQwJQ6df&location=estes%20park,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 10 Aug 2021 20:36:07 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"estes
        park,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Estes
        Park","adminArea5Type":"City","adminArea4":"Larimer County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282027628","unknownInput":"","type":"s","latLng":{"lat":40.376131,"lng":-105.523654},"displayLatLng":{"lat":40.376131,"lng":-105.523654},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MWlGcbYlFZ5j5OE16GJ5514OGQwJQ6df&type=map&size=225,160&locations=40.376131,-105.523654|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1437727464"}]}]}'
  recorded_at: Tue, 10 Aug 2021 20:36:07 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=d9b584a6d1139f1901706b9780fa6149&exclude=%7Bpart%7D&lat=40.376131&lon=-105.523654&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.3761,"lon":-105.5237,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628627767,"sunrise":1628597313,"sunset":1628647582,"temp":82.09,"feels_like":79.88,"pressure":1009,"humidity":19,"dew_point":35.8,"uvi":8.27,"clouds":18,"visibility":10000,"wind_speed":13,"wind_deg":360,"wind_gust":24,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"minutely":[{"dt":1628627820,"precipitation":0},{"dt":1628627880,"precipitation":0},{"dt":1628627940,"precipitation":0},{"dt":1628628000,"precipitation":0},{"dt":1628628060,"precipitation":0},{"dt":1628628120,"precipitation":0},{"dt":1628628180,"precipitation":0},{"dt":1628628240,"precipitation":0},{"dt":1628628300,"precipitation":0},{"dt":1628628360,"precipitation":0},{"dt":1628628420,"precipitation":0},{"dt":1628628480,"precipitation":0},{"dt":1628628540,"precipitation":0},{"dt":1628628600,"precipitation":0},{"dt":1628628660,"precipitati[...]
