---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MWlGcbYlFZ5j5OE16GJ5514OGQwJQ6df&location=estes%20park,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Thu, 19 Aug 2021 15:35:29 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"estes
        park,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Estes
        Park","adminArea5Type":"City","adminArea4":"Larimer County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282027628","unknownInput":"","type":"s","latLng":{"lat":40.376131,"lng":-105.523654},"displayLatLng":{"lat":40.376131,"lng":-105.523654},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MWlGcbYlFZ5j5OE16GJ5514OGQwJQ6df&type=map&size=225,160&locations=40.376131,-105.523654|marker-sm-50318A-1&scalebar=true&zoom=12&rand=2075898743"}]}]}'
  recorded_at: Thu, 19 Aug 2021 15:35:33 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=d9b584a6d1139f1901706b9780fa6149&exclude=%7Bpart%7D&lat=40.376131&lon=-105.523654&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.3761,"lon":-105.5237,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1629387327,"sunrise":1629375442,"sunset":1629424454,"temp":61.92,"feels_like":60.58,"pressure":1005,"humidity":59,"dew_point":47.44,"uvi":1.78,"clouds":81,"visibility":10000,"wind_speed":5.99,"wind_deg":360,"wind_gust":17,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1629387360,"precipitation":0},{"dt":1629387420,"precipitation":0},{"dt":1629387480,"precipitation":0},{"dt":1629387540,"precipitation":0},{"dt":1629387600,"precipitation":0},{"dt":1629387660,"precipitation":0},{"dt":1629387720,"precipitation":0},{"dt":1629387780,"precipitation":0},{"dt":1629387840,"precipitation":0},{"dt":1629387900,"precipitation":0},{"dt":1629387960,"precipitation":0},{"dt":1629388020,"precipitation":0},{"dt":1629388080,"precipitation":0},{"dt":1629388140,"precipitation":0},{"dt":1629388200,"precipitati[...]
