---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=-yQkTFhNklOgzzoXr__fHbpApFazrOjDG-lEJsLxshk&per_page=1&query=boston,ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=-yQkTFhNklOgzzoXr__fHbpApFazrOjDG-lEJsLxshk&page=2970&per_page=1&query=boston%2Cma>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=-yQkTFhNklOgzzoXr__fHbpApFazrOjDG-lEJsLxshk&page=2&per_page=1&query=boston%2Cma>;
        rel="next"
      X-Total:
      - '2970'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      Etag:
      - W/"5b1d56b6a8604b477307200fefa39487"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"total":2970,"total_pages":2970,"results":[{"id":"i5vfk50ygJ0","created_at":"2019-09-23T13:34:52-04:00","updated_at":"2021-08-11T07:10:52-04:00","promoted_at":null,"width":5792,"height":5792,"color":"#595959","blur_hash":"LREo_S~qM{D%Rjay%Mt7t8t7t7%M","description":null,"alt_description":"grayscale
        photo of buildings","urls":{"raw":"https://images.unsplash.com/photo-1569259907653-1bf37acbcac9?ixid=MnwyNTEwMzZ8MHwxfHNlYXJjaHwxfHxib3N0b24lMkNtYXxlbnwwfHx8fDE2Mjg2OTIxOTM\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1569259907653-1bf37acbcac9?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNTEwMzZ8MHwxfHNlYXJjaHwxfHxib3N0b24lMkNtYXxlbnwwfHx8fDE2Mjg2OTIxOTM\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1569259907653-1bf37acbcac9?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTEwMzZ8MHwxfHNlYXJjaHwxfHxib3N0b24lMkNtYXxlbnwwfHx8fDE2Mjg2OTIxOTM\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1569259907653-1bf37acbcac9?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTEwMzZ8MHwxfHNlYXJjaHwxfHxib3N0b24lMkNtYXxlbnwwfHx8fDE2Mjg2OTIxOTM\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1569259907653-1bf37acbcac9?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTEwMzZ8MHwxfHNlYXJjaHwxfHxib3N0b24lMkNtYXxlbnwwfHx8fDE2Mjg2OTIxOTM\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/i5vfk50ygJ0","html":"https://unsplash.com/photos/i5vfk50ygJ0","download":"https://unsplash.com/photos/i5vfk50ygJ0/download","download_location":"https://api.unsplash.com/photos/i5vfk50ygJ0/download?ixid=MnwyNTEwMzZ8MHwxfHNlYXJjaHwxfHxib3N0b24lMkNtYXxlbnwwfHx8fDE2Mjg2OTIxOTM"},"categories":[],"likes":0,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"E-eGLrJfdUQ","updated_at":"2021-08-05T15:32:15-04:00","username":"redaska","name":"steve
        pancrate","first_name":"steve","last_name":"pancrate","twitter_username":null,"portfolio_url":"http://www.redaskastudio.com","bio":null,"location":"Boston","links":{"self":"https://api.unsplash.com/users/redaska","html":"https://unsplash.com/@redaska","photos":"https://api.unsplash.com/users/redaska/photos","likes":"https://api.unsplash.com/users/redaska/likes","portfolio":"https://api.unsplash.com/users/redaska/portfolio","following":"https://api.unsplash.com/users/redaska/following","followers":"https://api.unsplash.com/users/redaska/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1570635599993-4aeaa2f37308image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1570635599993-4aeaa2f37308image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1570635599993-4aeaa2f37308image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"redaska","total_collections":0,"total_likes":126,"total_photos":113,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"redaska","portfolio_url":"http://www.redaskastudio.com","twitter_username":null,"paypal_email":null}},"tags":[{"type":"search","title":"boston"},{"type":"search","title":"ma"},{"type":"search","title":"usa"}]}]}'
  recorded_at: Wed, 11 Aug 2021 14:29:54 GMT
recorded_with: VCR 6.0.0
