---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MWlGcbYlFZ5j5OE16GJ5514OGQwJQ6df&location=boston,ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 03 Aug 2021 01:44:34 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"boston,ma"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Boston","adminArea5Type":"City","adminArea4":"Suffolk
        County","adminArea4Type":"County","adminArea3":"MA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040344","unknownInput":"","type":"s","latLng":{"lat":42.358894,"lng":-71.056742},"displayLatLng":{"lat":42.358894,"lng":-71.056742},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MWlGcbYlFZ5j5OE16GJ5514OGQwJQ6df&type=map&size=225,160&locations=42.358894,-71.056742|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-2127795211"}]}]}'
  recorded_at: Tue, 03 Aug 2021 01:44:34 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=d9b584a6d1139f1901706b9780fa6149&exclude=%7Bpart%7D&lat=42.358894&lon=-71.056742
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.3589,"lon":-71.0567,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1627955074,"sunrise":1627897078,"sunset":1627948972,"temp":291.97,"feels_like":291.79,"pressure":1015,"humidity":72,"dew_point":286.82,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":1.48,"wind_deg":324,"wind_gust":1.57,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1627955100,"precipitation":0},{"dt":1627955160,"precipitation":0},{"dt":1627955220,"precipitation":0},{"dt":1627955280,"precipitation":0},{"dt":1627955340,"precipitation":0},{"dt":1627955400,"precipitation":0},{"dt":1627955460,"precipitation":0},{"dt":1627955520,"precipitation":0},{"dt":1627955580,"precipitation":0},{"dt":1627955640,"precipitation":0},{"dt":1627955700,"precipitation":0},{"dt":1627955760,"precipitation":0},{"dt":1627955820,"precipitation":0},{"dt":1627955880,"precipitation":0},{"dt":1627955940,"precipitati[...]
