---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=d9b584a6d1139f1901706b9780fa6149&exclude=%7Bpart%7D&lat=35&lon=127&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":35,"lon":127,"timezone":"Asia/Seoul","timezone_offset":32400,"current":{"dt":1628692195,"sunrise":1628628529,"sunset":1628677549,"temp":75.13,"feels_like":76.86,"pressure":1011,"humidity":96,"dew_point":73.9,"uvi":0,"clouds":80,"visibility":10000,"wind_speed":2.24,"wind_deg":120,"wind_gust":2.13,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"minutely":[{"dt":1628692200,"precipitation":0},{"dt":1628692260,"precipitation":0},{"dt":1628692320,"precipitation":0},{"dt":1628692380,"precipitation":0},{"dt":1628692440,"precipitation":0},{"dt":1628692500,"precipitation":0},{"dt":1628692560,"precipitation":0},{"dt":1628692620,"precipitation":0},{"dt":1628692680,"precipitation":0},{"dt":1628692740,"precipitation":0},{"dt":1628692800,"precipitation":0},{"dt":1628692860,"precipitation":0},{"dt":1628692920,"precipitation":0},{"dt":1628692980,"precipitation":0},{"dt":1628693040,"precipitati[...]
