---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=d9b584a6d1139f1901706b9780fa6149&exclude=%7Bpart%7D&lat=35&lon=127
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":35,"lon":127,"timezone":"Asia/Seoul","timezone_offset":32400,"current":{"dt":1627484088,"sunrise":1627418285,"sunset":1627468720,"temp":299.11,"feels_like":299.11,"pressure":1004,"humidity":88,"dew_point":296.97,"uvi":0,"clouds":94,"visibility":10000,"wind_speed":1.43,"wind_deg":129,"wind_gust":1.32,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1627484100,"precipitation":0},{"dt":1627484160,"precipitation":0},{"dt":1627484220,"precipitation":0},{"dt":1627484280,"precipitation":0},{"dt":1627484340,"precipitation":0},{"dt":1627484400,"precipitation":0},{"dt":1627484460,"precipitation":0},{"dt":1627484520,"precipitation":0},{"dt":1627484580,"precipitation":0},{"dt":1627484640,"precipitation":0},{"dt":1627484700,"precipitation":0},{"dt":1627484760,"precipitation":0},{"dt":1627484820,"precipitation":0},{"dt":1627484880,"precipitation":0},{"dt":1627484940,"precipitati[...]
