---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=d9b584a6d1139f1901706b9780fa6149&exclude=%7Bpart%7D&lat=35&lon=127
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":35,"lon":127,"timezone":"Asia/Seoul","timezone_offset":32400,"current":{"dt":1627179334,"sunrise":1627158952,"sunset":1627209651,"temp":301.92,"feels_like":302.99,"pressure":1006,"humidity":54,"dew_point":291.69,"uvi":7.23,"clouds":100,"visibility":10000,"wind_speed":6.33,"wind_deg":109,"wind_gust":9.5,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1627179360,"precipitation":0},{"dt":1627179420,"precipitation":0},{"dt":1627179480,"precipitation":0},{"dt":1627179540,"precipitation":0},{"dt":1627179600,"precipitation":0},{"dt":1627179660,"precipitation":0},{"dt":1627179720,"precipitation":0},{"dt":1627179780,"precipitation":0},{"dt":1627179840,"precipitation":0},{"dt":1627179900,"precipitation":0},{"dt":1627179960,"precipitation":0},{"dt":1627180020,"precipitation":0},{"dt":1627180080,"precipitation":0},{"dt":1627180140,"precipitation":0},{"dt":1627180200,"precipitati[...]
