---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=d9b584a6d1139f1901706b9780fa6149&exclude=%7Bpart%7D&lat=35&lon=127&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":35,"lon":127,"timezone":"Asia/Seoul","timezone_offset":32400,"current":{"dt":1628558098,"sunrise":1628542082,"sunset":1628591212,"temp":81.95,"feels_like":85.91,"pressure":1009,"humidity":68,"dew_point":70.34,"uvi":5.98,"clouds":18,"visibility":10000,"wind_speed":5.82,"wind_deg":139,"wind_gust":7.02,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"minutely":[{"dt":1628558100,"precipitation":0},{"dt":1628558160,"precipitation":0},{"dt":1628558220,"precipitation":0},{"dt":1628558280,"precipitation":0},{"dt":1628558340,"precipitation":0},{"dt":1628558400,"precipitation":0},{"dt":1628558460,"precipitation":0},{"dt":1628558520,"precipitation":0},{"dt":1628558580,"precipitation":0},{"dt":1628558640,"precipitation":0},{"dt":1628558700,"precipitation":0},{"dt":1628558760,"precipitation":0},{"dt":1628558820,"precipitation":0},{"dt":1628558880,"precipitation":0},{"dt":1628558940,"precipitati[...]
