---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=d9b584a6d1139f1901706b9780fa6149&exclude=%7Bpart%7D&lat=35&lon=127&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":35,"lon":127,"timezone":"Asia/Seoul","timezone_offset":32400,"current":{"dt":1629387331,"sunrise":1629406543,"sunset":1629454533,"temp":69.73,"feels_like":70.92,"pressure":1013,"humidity":96,"dew_point":68.54,"uvi":0,"clouds":49,"visibility":10000,"wind_speed":3.42,"wind_deg":122,"wind_gust":3.13,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"minutely":[{"dt":1629387360,"precipitation":0},{"dt":1629387420,"precipitation":0},{"dt":1629387480,"precipitation":0},{"dt":1629387540,"precipitation":0},{"dt":1629387600,"precipitation":0},{"dt":1629387660,"precipitation":0},{"dt":1629387720,"precipitation":0},{"dt":1629387780,"precipitation":0},{"dt":1629387840,"precipitation":0},{"dt":1629387900,"precipitation":0},{"dt":1629387960,"precipitation":0},{"dt":1629388020,"precipitation":0},{"dt":1629388080,"precipitation":0},{"dt":1629388140,"precipitation":0},{"dt":1629388200,"precipitati[...]
