---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MWlGcbYlFZ5j5OE16GJ5514OGQwJQ6df&location=boston,%20ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 10 Aug 2021 01:14:56 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"boston,
        ma"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Boston","adminArea5Type":"City","adminArea4":"Suffolk
        County","adminArea4Type":"County","adminArea3":"MA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040344","unknownInput":"","type":"s","latLng":{"lat":42.358894,"lng":-71.056742},"displayLatLng":{"lat":42.358894,"lng":-71.056742},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MWlGcbYlFZ5j5OE16GJ5514OGQwJQ6df&type=map&size=225,160&locations=42.358894,-71.056742|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1901831623"}]}]}'
  recorded_at: Tue, 10 Aug 2021 01:14:56 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=d9b584a6d1139f1901706b9780fa6149&exclude=%7Bpart%7D&lat=42.358894&lon=-71.056742&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.3589,"lon":-71.0567,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1628558096,"sunrise":1628502320,"sunset":1628553249,"temp":67.8,"feels_like":68.65,"pressure":1022,"humidity":93,"dew_point":65.7,"uvi":0,"clouds":90,"visibility":2414,"wind_speed":1.99,"wind_deg":44,"wind_gust":11.01,"weather":[{"id":701,"main":"Mist","description":"mist","icon":"50n"},{"id":502,"main":"Rain","description":"heavy
        intensity rain","icon":"10n"}],"rain":{"1h":0.13}},"minutely":[{"dt":1628558100,"precipitation":0.133},{"dt":1628558160,"precipitation":0.133},{"dt":1628558220,"precipitation":0.133},{"dt":1628558280,"precipitation":0.133},{"dt":1628558340,"precipitation":0.133},{"dt":1628558400,"precipitation":0.133},{"dt":1628558460,"precipitation":0.133},{"dt":1628558520,"precipitation":0.133},{"dt":1628558580,"precipitation":0.133},{"dt":1628558640,"precipitation":0.133},{"dt":1628558700,"precipitation":0.133},{"dt":1628558760,"precipitation":0.1176},{"dt":1628558820,"precipitation":0.1022},{"dt":16285[...]
