---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MWlGcbYlFZ5j5OE16GJ5514OGQwJQ6df&location=boston,%20ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 11 Aug 2021 14:29:51 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"boston,
        ma"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Boston","adminArea5Type":"City","adminArea4":"Suffolk
        County","adminArea4Type":"County","adminArea3":"MA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040344","unknownInput":"","type":"s","latLng":{"lat":42.358894,"lng":-71.056742},"displayLatLng":{"lat":42.358894,"lng":-71.056742},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MWlGcbYlFZ5j5OE16GJ5514OGQwJQ6df&type=map&size=225,160&locations=42.358894,-71.056742|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1485952111"}]}]}'
  recorded_at: Wed, 11 Aug 2021 14:29:51 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=d9b584a6d1139f1901706b9780fa6149&exclude=%7Bpart%7D&lat=42.358894&lon=-71.056742&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.3589,"lon":-71.0567,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1628692191,"sunrise":1628675248,"sunset":1628725887,"temp":82.36,"feels_like":88.11,"pressure":1016,"humidity":74,"dew_point":73.24,"uvi":4.72,"clouds":40,"visibility":10000,"wind_speed":8.01,"wind_deg":294,"wind_gust":18.99,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1628692200,"precipitation":0},{"dt":1628692260,"precipitation":0},{"dt":1628692320,"precipitation":0},{"dt":1628692380,"precipitation":0},{"dt":1628692440,"precipitation":0},{"dt":1628692500,"precipitation":0},{"dt":1628692560,"precipitation":0},{"dt":1628692620,"precipitation":0},{"dt":1628692680,"precipitation":0},{"dt":1628692740,"precipitation":0},{"dt":1628692800,"precipitation":0},{"dt":1628692860,"precipitation":0},{"dt":1628692920,"precipitation":0},{"dt":1628692980,"precipitation":0},{"dt":1628693040,"precipitati[...]
